<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desafio Familiares</title>

</head>
<body>
            {% for item in listaFamiliares %}
          <tr>
            <td>{{item.nombre}}</td>
            <td>{{item.edad}} Años</td>
            <td>{{item.fecha|date:"d-m-Y"}}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    
</body>
</html>